.el-table .warning-row {
  background: hsla(40, 100%, 50%,0.4);
}

.el-table .success-row {
  background: hsla(155, 54%, 46%, 0.4);
}

.demo-table .name-wrapper {
  display: inline-block;
}

.demo-table .demo-table-expand {
  label {
    width: 90px;
    color: #99a9bf;
  }
  .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
}
