//brand-color//
$--primary-color: hsla(220, 100%, 65%, 1); //品牌色
$--primary-color-1: hsla(220, 100%, 65%, 0.1);
$--primary-color-2: hsla(220, 100%, 65%, 0.2);
$--primary-color-3: hsla(220, 100%, 65%, 0.3);
$--primary-color-4: hsla(220, 100%, 65%, 0.4);
$--primary-color-5: hsla(220, 100%, 65%, 0.5);
$--primary-color-6: hsla(220, 100%, 65%, 0.6);
$--primary-color-7: hsla(220, 100%, 65%, 0.7);
$--primary-color-8: hsla(220, 100%, 65%, 0.8);
$--primary-color-9: hsla(220, 100%, 65%, 0.9);

//error-color//
$--error-color: hsla(0, 94%, 66%, 1); //错误提醒色/红色按钮字体/border
$--error-color-1: hsla(0, 94%, 66%, 0.1); //红色按钮悬浮色
$--error-color-2: hsla(0, 94%, 66%, 0.2); //图标按钮禁止色/红色按钮点击色
$--error-color-3: hsla(0, 94%, 66%, 0.3); //图标按钮禁止色/红色按钮点击色
$--error-color-6: hsla(0, 94%, 66%, 0.6); //图标按钮点击色
$--error-color-8: hsla(0, 94%, 66%, 0.8); //图标按钮悬浮色

//succeed-color//
$--succeed-color: hsla(155, 54%, 46%, 1); //成功提醒色
$--succeed-color-1: hsla(155, 54%, 46%, 0.1); //绿色按钮悬浮色
$--succeed-color-2: hsla(155, 54%, 46%, 0.2); //绿色按钮点击色

//excel-color//
$--excel-color: hsla(146, 48%, 49%, 1); //成功提醒色
$--excel-color-1: hsla(146, 48%, 49%, 0.1); //绿色按钮悬浮色
$--excel-color-2: hsla(146, 48%, 49%, 0.2); //绿色按钮点击色

//text-color//
$--text-title: hsla(0, 0%, 100%, 0.75);//标题字体色值
$--text-normal: hsla(0, 0%, 100%, 0.55); //常规字体色值
$--text-secondary: hsla(211, 10%, 50%, 1); //提醒字体色值
$--text-placeholder:hsla(216, 23%, 74%,1);//占位符字色
$--text-btn: hsla(0, 0%, 100%, 1); //按钮字体色值
$--text-link: hsla(220, 100%, 65%, 1); //文字链接
$--text-menu: hsla(216, 19%, 66%,1);//菜单颜色

//components-interaction//
$--components-hover: hsla(220, 62%, 55%, 0.8); //组件悬停状态
$--components-click: hsla(220, 49%, 44%, 0.6); //组件点击状态
$--components-active: hsla(220, 100%, 65%, 1); //组件活跃状态

//background-color//
$--bg-primary: hsla(226, 14%, 18%, 1); //侧边栏一级背景色
$--bg-secondary: hsla(227, 13%, 13%, 1); //侧边栏二级背景色
$--bg-final: hsla(227, 18%, 10%, 1); //网站背景色
$--bg-header: hsla(229, 17%, 12%, 1); //功能组件背景色
$--bg-bg: hsla(226, 17%, 15%, 1); //布局背景
$--bg-minor: hsla(226, 14%, 24%, 1); //翻页器默认背景
$--bg-tip:hsla(220, 38%, 94%,1);//tip颜色
$--bg-shadows: 0px 2px 4px 0px hsla(216, 40%, 6%, 0.2); //全局背景阴影
$--bg-shadows-tabs: 0px 0px 10px 0px hsla(227, 18%, 10%, 1); //tabs选中背景阴影
$--bg-green: hsla(146, 48%, 49%, 0.05); //对账完成后表格背景

//border-color//
$--border-primary: hsla(216, 22%, 25%, 1); //主要边框
$--border-secondary: hsla(216, 22%, 23%, 1); //表格边框
$--border-hover: hsla(220, 100%, 65%, 0.8); //边框悬停

//disable-color//
$--disable-text: hsla(0, 0%, 100%, 0.35); //禁止文字色
$--disable-primary: rgba(255,255,255,0.04); //主要禁止背景色
$--disable-secondary: hsla(223, 17%, 16%, 0.4); //次要禁止背景色

//table-color//
$--table-header: hsla(225, 17%, 18%, 1); //表格头部
$--table-primary: hsla(229, 18%, 12%, 1); //表格默认背景
$--table-secondary: hsla(227, 17%, 16%, 1); //表格二级背景
$--table-minor: hsla(230, 17%, 14%, 1); //表格三级背景

//normal-color//
$--white: hsla(0, 0%, 100%, 1);
$--grey: hsla(220, 4%, 58%,1);
$--red: hsla(0, 94%, 66%, 1);
$--green: hsla(155, 54%, 46%, 1); 
$--orange: hsla(40, 100%, 50%,1);
$--purple:hsla(249, 46%, 54%,1);
$--opacity: hsla(0, 0%, 0%, 0);